.img-item:hover {
    opacity: 0.9;
}

.mt--5 {
    margin-top: -100px !important;
}
.opacity--25 {
    filter: contrast(70%) brightness(40%);
}
.opacity--15 {
    filter: contrast(95%);
}

.btn-primary {
    background-color: #6366f1 !important;
    border-color: #6366f1 !important;
}

.display-1,
.display-2,
.display-4,
.display-5,
.display-6 {
    color: #6366f1 !important;
}
.text-primary {
    color: #6366f1 !important;
}
small.text-primary {
    color: #6366f1 !important;
}
.nav-link.active {
    color: #6366f1 !important;
}
.btn {
    border-radius: 2px !important;
}
